$c-black: #000000;
$c-white: #ffffff;

$c-header-link: #999999;

$c-gray-1: #292929;
$c-gray-2: #999999;
$c-gray-3: #383838;
$c-gray-4: #b2b2b2;
$c-gray-5: #424242;
$c-gray-6: #3c3c44;
$c-gray-7: #787878;
$c-gray-8: #1a1a1a;
$c-gray-9: #2d2d2d;
$c-accent-1: #00CCFF;
$c-accent-2: #fd3368;

$c-rating-star: #666666;
$c-rating-star-filled: #ffca30;
$c-active-sidenav-el: #00ff66;
$c-sidenav-user-email: #a0e7ff;
$c-genre-badge: #669999;
$c-popularity-down: #f31919;
$c-popularity-up: #36e01a;
$c-no-rating: #ffff33;
$c-modal-bg: #010e23;
$c-popover-bg: #05082b;
$c-text-highlighted: #57aeff;
$c-text-highlighted-2: #9de9ff;
$c-facebook: #4267b2;
$c-comment-author: #666666;

$c-btn-primary: #4285f4;
$c-btn-default: #414141;
$c-btn-success: #1eb500;

$f-main: 'Open Sans', sans-serif;
$f-icons: 'TVGuide icons';

$IMG_PATH: '../img';
