@import '../variables';
@import '../mixins';
@import 'sidebar';

body {
    font-family: $f-main;
    background: $c-gray-3;
}

.page {
    overflow: hidden;
}

#main-header {
    background: $c-black;

    > div {
        max-width: 1440px;
    }

    .container-fluid {
        @media (min-width: 768px) {
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    .ad {
        padding-top: 10px;
    }

    .header-content {
        background: $c-gray-1;

        &.no-bg {
            height: 50px;

            @media (min-width: 576px) {
                height: 100px;
            }
        }

        @media (min-width: 576px) {
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 90px;
                top: 0;
                left: 0;
                z-index: 1;
                background: linear-gradient(to bottom, $c-black, transparent);
            }
        }
    }

    .nav-wrapper {
        z-index: 1;

        @media (min-width: 576px) {
            position: absolute;
        }

        > div {
            background: $c-black;

            @media (min-width: 576px) {
                background: 0;
                padding-top: 24px;
            }
        }

        .search {

            form {
                position: relative;
                max-width: 350px;
                width: 100%;

                @media (min-width: 576px) {
                    width: 224px;
                }

                @media (min-width: 1200px) {
                    width: 100%;
                }
            }

            input,
            button {
               &:focus,
               &:active {
                   outline: none;
               }
            }

            input {
                border: 0;
                border-radius: 40px;
                line-height: 37px;
                padding: 0 40px 0 20px;
                width: 100%;
                font-size: 16px;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

                @media (min-width: 576px) {
                    line-height: 44px;
                    font-size: 18px;
                }

                @media (min-width: 1200px) {
                    line-height: 37px;
                    font-size: 16px;
                }
            }

            button {
                background: 0;
                border: 0;
                position: absolute;
                right: 15px;
                top: 0;
                font-size: 26px;
                padding: 0;

                @media (min-width: 576px) {
                    line-height: 44px;
                    font-size: 32px;
                }

                @media (min-width: 1200px) {
                    line-height: 37px;
                    font-size: 26px;
                }

                span {
                    position: relative;
                    top: 1px;
                }
            }
        }
    }

    .active-item {
        width: 100%;
        height: 170px;
        background: $c-gray-1;
        position: relative;
        padding-top: 90px;

        @media (min-width: 576px) {
            height: 300px;
        }

        @media (min-width: 1200px) {
            height: 380px;
        }

        .bg-layer {
            height: 100%;
            width: 100%;
            background: url($IMG_PATH + '/bg.jpg');
            background-repeat: no-repeat !important;
            position: absolute;
            background-position-x: center !important;
            background-size: cover !important;
            top: 0;
            left: 0;
        }


        .container-fluid {
            padding-bottom: 15px;
            position: relative;

            @media (min-width: 1200px) {
                padding-bottom: 42px;
            }
        }

        .title {
            font-size: 19px;
            font-weight: 700;

            @media (min-width: 576px) {
                font-size: 26px;
            }

            @media (min-width: 768px) {
                font-size: 36px;
            }

            @media (min-width: 992px) {
                font-size: 42px;
            }

            @media (min-width: 1200px) {
                font-size: 60px;
            }
        }

        .start-time,
        .episode {
            font-size: 11px;
            line-height: 1.1;

            @media (min-width: 576px) {
                font-size: 14px;
            }
        }

        .channel-logo {
            width: 40px;

            @media (min-width: 576px) {
                width: 54px;
            }
        }
    }

    .nav-a {

        li {
            &.active {
                a {
                    color: $c-white;
                }
            }

            &:nth-child(n+2) {
                margin-left: 25px;
                padding-top: 4px;
            }
        }

        a {
            color: $c-header-link;
            transition: color .25s;
            font-family: $f-main;
            font-size: 13px;

            &:hover {
                text-decoration: none !important;
                color: $c-white;
            }
        }

    }

    .sign-in {
        display: inline-flex;
        padding: 6px 13px 4px;
        background: $c-white;
        border-radius: 20px;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        color: $c-black;
        min-width: 78px;
        justify-content: center;
        transition: all .3s;
        border: 1px solid transparent;

        &:hover {
            color: $c-accent-2;
            border-color: $c-accent-2;
        }
    }

    .mobile-nav {
        padding: 7px 0;

        @media (min-width: 576px) {
            padding: 0;
        }

        img {
            width: 50px;

            @media (min-width: 576px) {
                width: 89px;
            }
        }

        .sidenav-btn,
        .user-nav-btn {
            font-size: 30px;
            line-height: 1;
            position: relative;
            top: 3px;

            @media (min-width: 576px) {
                top: 0;
            }
        }
    }

    .badge {
        padding: 3px 5px;
        font-size: 12px;
        background: $c-accent-2;
    }

}

.mobile-search {
    form {
        position: relative;
        button {
            border: 0;
            background: 0;
            position: absolute;
            line-height: 1;
            right: 15px;
            cursor: pointer;
            transition: color .25s;
        }

        .icon-search {
            font-size: 30px;
            @media (min-width: 992px) {
                font-size: 36px;
            }
        }
    }

    input {
        border-radius: 25px;
        border: 0;
        height: auto;
        padding: 9px 55px 9px 23px;
        font-size: 16px;
        line-height: 1;
        color: $c-black;
        text-overflow: ellipsis;
        max-width: 280px;

        @include placeholder-color($c-black);

        @media (min-width: 768px) {
            max-width: initial;
            padding: 11px 60px 11px 28px;
            width: 225px !important;
        }

        @media (min-width: 992px) {
            width: 300px !important;
            font-size: 18px;
        }

        @media (min-width: 1200px) {
            width: 467px !important;
            font-size: 21px;
        }

        &:focus {
            color: $c-black;
            box-shadow: 0 0 0 0.2rem rgba($c-accent-2, .4);

            + button {
                color: $c-accent-2;
            }
        }
    }
}

.nav-b {
    background: $c-gray-1;

    .container-fluid {
        max-width: 1440px;
        margin-left: 0;

        @media (min-width: 768px) {
            padding: 0 60px;
        }
    }

    li {
        &:nth-child(n+2) {
            margin-left: 40px;
            @media (min-width: 992px) {
                margin-left: 50px;
            }
        }
        &.active {
            a {
                font-weight: 700;
            }
        }
    }

    a {
        color: $c-white;
        font-size: 21px;
        line-height: 78px;
        @media (min-width: 1200px) {
            line-height: 100px;
            font-size: 24px;
        }
    }

}

#grid-menu {
    height: 40px;
    background: $c-gray-5;

    @media (min-width: 576px) {
        height: 55px;
    }

    .container-fluid {
        max-width: 1440px;
        margin-left: 0;

        @media (min-width: 768px) {
            padding: 0 60px;
        }
    }

    .dropdown-toggle {
        color: $c-white;
        display: flex;
        padding: 0 20px;
        height: 100%;
        align-items: center;
        transition: background .3s;
        position: relative;

        &:hover {
            background: $c-accent-2;
        }

        &:after {
            display: none;
        }
    }

    .dropdown-menu {
        font-size: 14px;
        @media (min-width: 576px) {
            font-size: 16px;
        }
    }

    .icon-cog {
        font-size: 20px;
        transition: transform .4s;
        display: inline-flex;

        @media (min-width: 576px) {
            font-size: 26px;
        }

        &:hover {
            transform: rotate(45deg);
        }
    }

    .nav {
        font-size: 14px;

        @media (min-width: 576px) {
            font-size: 16px;
        }

        @media (min-width: 1200px) {
            font-size: 18px;
        }

        > li {
            display: inline-flex;
            align-items: center;
        }
    }

    label {
        line-height: 1;
    }

    form {
        input {
            background: 0;
            border: 0;
            border-bottom: 1px solid $c-white;
            outline: none;
        }

        button {
            background: 0;
            border: 0;
            font-size: 26px;
            line-height: 1;
            outline: none;
            cursor: pointer;
        }
    }

    .right {
        .date {
            font-size: 18px;
            color: $c-gray-2;
        }

        .layout-btn {
            img {
                width: 28px;

                @media (min-width: 576px) {
                    width: 34px;
                }
            }
        }
    }
}