@import '../variables';
@import '../mixins';

$c-comedy-category: #3253cf;
$c-sports-category: #53ce32;
$c-music-category: #ff9933;
$c-film-category: #000000;
$c-soap-category: #ab337d;
$c-kids-category: #e3bb00;
$c-drama-category: #ce3d32;
$c-talk-show-category: #800000;
$c-game-show-category: #669999;
$c-sci-fi-category: #666699;
$c-documentary-category: #cccccc;
$c-motor-category: #996633;
$c-horror-category: #666633;
$category-classes: comedy sports music film soap kids drama talk-show game-show sci-fi documentary motor horror;
$category-colors: #3253cf #53ce32 #ff9933 #000000 #ab337d #e3bb00 #ce3d32 #800000 #669999 #666699 #cccccc #996633 #666633;
$c-subtitles-audio-described: #fff372;
$c-divider: #363636;
$c-box-office: #8cd9f2;
$c-awards-title: #8cd9f2;
$c-budget-amount: #808080;
$c-kids-safe-star: #35a14b;
$c-kids-safe-info: #36a24b;



.show-details-page {

}

.details-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin-right: auto;

    .content {
        height: 170px;
        padding: 0 40% 0 15px;
        background: linear-gradient(to right, $c-black, transparent 50%);

        @media (min-width: 576px) {
            padding: 70px 15px 0;
            height: 300px;
        }

        @media (min-width: 768px) {
            padding: 70px 60px 0;
        }

        @media (min-width: 1200px) {
            padding: 100px 60px 0;
            height: 380px;
        }

        &.dark {
            background-color: rgba($c-black, .6);
        }

        .play {
            position: absolute;
            bottom: 20px;
            right: 15px;

            @media (min-width: 768px) {
                right: 60px;
            }

            @media (min-width: 1200px) {
                left: 50%;
                top: 50%;
                bottom: auto;
                right: auto;
                transform: translate3d(-50%, -50%, 0);
            }

            &:hover {
                .icon-play {
                    color: $c-accent-2;
                    border-color: $c-accent-2;
                }
            }

            .label {
                font-size: 11px;
                font-weight: 700;
                text-shadow: 0 3px 8px rgba($c-black, 0.5);

                @media (min-width: 576px) {
                    font-size: 18px;
                }

                @media (min-width: 1200px) {
                    font-size: 21px;
                }
            }

            .icon-play {
                height: 38px;
                width: 38px;
                border: 3px solid $c-white;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                background: rgba($c-black, .78);
                transition: color .3s, border .3s;
                box-shadow: 0 3px 8px rgba($c-black, 0.5);

                @media (min-width: 576px) {
                    height: 52px;
                    width: 52px;
                    border-width: 4px;
                    font-size: 22px;
                }

                @media (min-width: 1200px) {
                    height: 102px;
                    width: 102px;
                    font-size: 40px;
                }

                &:before {
                    position: relative;
                    left: 2px;
                    @media (min-width: 1200px) {
                        left: 5px;
                    }
                }
            }
        }
    }

    h1 {
        font-size: 19px;
        max-width: 350px;
        width: 100%;
        text-shadow: 1px 1px rgba($c-black, .5);

        @media (min-width: 576px) {
            font-size: 26px;
        }

        @media (min-width: 1200px) {
            font-size: 38px;
        }
    }

    .channel-logo {
        width: 40px;

        @media (min-width: 576px) {
            width: 54px;
        }
    }

    .start-time,
    .time-before-start {
        font-size: 11px;
        line-height: 1;

        @media (min-width: 576px) {
            font-size: 14px;
        }
    }

    .time-before-start,
    .info {
        color: $c-gray-2;
    }

    .info {
        font-size: 8px;

        @media (min-width: 576px) {
            font-size: 10px;
        }
    }

    .trailer-popup {
        position: absolute;
        background: rgba($c-black, .5);
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        z-index: 1;
        max-width: 440px;
        width: 100%;
        height: 248px;

        .wrapper {
            width: 100%;
            position: relative;
            height: 100%;

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        .icon-close {
            top: -20px;
            right: 0;
            cursor: pointer;
            font-size: 36px;

            @media (min-width: 576px) {
                right: -20px;
            }
        }
    }
}

#details {
    padding-top: 25px;
    background: $c-gray-1;

    > div {
        max-width: 1440px;
        padding: 0 15px;

        @media (min-width: 768px) {
            padding: 0 60px;
        }
    }

    .stars {
        font-size: 15px;
        line-height: 1;

        @media (min-width: 576px) {
            font-size: 22px;
        }
    }

    .set-alert,
    .watch-on.sm {
        font-size: 14px;
    }

    .watch-on.sm {
        img {
            width: 30px;

            @media (min-width: 576px) {
                width: 36px;
            }
        }
    }

    .budget,
    .watch-on.lg {
        @media (min-width: 768px) and (max-width: 991px) {
            width: 235px;
        }
        @media (min-width: 992px) {
            width: 276px;
        }
    }

    .watch-on.lg {
        @media (max-width: 767px) {
            width: 100%;
        }

        img {
            max-width: 70px;
            @media (min-width: 576px) {
                max-width: initial;
            }
        }
    }

    .icon-circle {
        border: 1px solid $c-white;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;

        @media (min-width: 576px) {
            font-size: 18px;
            height: 36px;
            width: 36px;
        }
    }

    .icon-star-full {
        color: $c-rating-star;

        &.filled {
            color: $c-rating-star-filled;
        }
    }

    .heading,
    .secondary-heading,
    .episode-desc,
    .episode-name,
    .event-desc {
        font-size: 11px;

        @media (min-width: 576px) {
            font-size: 14px;
        }

        @media (min-width: 1200px) {
            font-size: 16px;
        }
    }

    .heading {
        color: $c-text-highlighted-2;
        font-weight: 700;
    }

    .episode-name,
    .secondary-heading {
        color: $c-gray-4;
    }

    .category {
        padding: 6px 12px;
        border-radius: 50px;
        display: inline-flex;
        font-size: 10px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 5px;
        margin-right: 5px;

        @media (min-width: 576px) {
            font-size: 14px;
            padding: 8px 17px;
            margin-bottom: 10px;
        }

        @include set-categories-bg($category-classes, $category-colors);
    }

    .subtitles,
    .audio-described {
        border-radius: 50px;
        color: $c-black;
        background: $c-subtitles-audio-described;
        padding: 6px 17px;
        font-weight: 700;
        font-size: 11px;

        @media (min-width: 576px) {
            font-size: 14px;
            padding: 7px 20px;
        }
    }

    .actors {
        img {
            width: 70px;

            @media (min-width: 576px) {
                width: initial;
            }
        }
    }

    .actor-name,
    .actor-role {
        font-size: 10px;
        font-weight: 300;

        @media (min-width: 576px) {
            font-size: 12px;
        }

        @media (min-width: 1200px) {
            font-size: 14px;
        }
    }
    .actor-role {
        color: $c-gray-2;
    }

    .slick-list {
        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 150px;
            background: linear-gradient(to right, transparent, $c-gray-1);
            top: 0;
            right: 0;
        }
    }

    .rating {
        .score,
        .tomatoes {
            background: $c-white;
            border-radius: 60px;
            color: $c-black;
            height: 48px;

            @media (min-width: 576px) {
                height: 60px;
                font-size: 60px;
            }
        }

        .score {
            width: 48px;
            font-weight: 700;
            font-size: 16px;

            @media (min-width: 576px) {
                width: 60px;
                font-size: 21px;
            }
        }

        .tomatoes {
            padding: 0 14px;

            @media (min-width: 576px) {
                padding: 0 29px;
            }

            img {
                width: 14px;

                @media (min-width: 576px) {
                    width: 18px;
                }
            }

            .percentage {
                font-size: 16px;
                font-weight: 700;
                display: inline-flex;
                line-height: 1;
                align-items: flex-end;

                @media (min-width: 576px) {
                    font-size: 18px;
                }

                &:after {
                    content: '%';
                    font-size: 10px;

                    @media (min-width: 576px) {
                        font-size: 12px;
                    }
                }
            }

            .type {
                font-size: 7px;

                @media (min-width: 576px) {
                    font-size: 8px;
                }
            }
        }

        .label {
            font-size: 10px;
            font-weight: 300;

            @media (min-width: 576px) {
                font-size: 14px;
            }
        }
    }

    .budget {
        position: relative;

        .circle {
            border-radius: 50%;
        }

        .caption {
            font-size: 10px;
            line-height: 1;

            @media (min-width: 576px) {
                font-size: 14px;
            }
        }

        .box-office {
            color: $c-box-office;

            .circle {
                min-width: 48px;
                height: 48px;
                width: 48px;
                background: $c-box-office;

                @media (min-width: 576px) {
                    height: 78px;
                    width: 78px;
                }
            }

            .caption {
                transform: translateY(-40%);

                @media (min-width: 576px) {
                    transform: none;
                }
            }
        }

        .amount {
            color: $c-budget-amount;
            position: absolute;
            bottom: 0;
            left: calc(48px - 18px);

            @media (min-width: 576px) {
                left: calc(78px - 24px);
            }

            .circle {
                min-width: 18px;
                height: 18px;
                width: 18px;
                background: $c-budget-amount;

                @media (min-width: 576px) {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }

    .kids-safe {
        img {
            width: 25px;
            @media (min-width: 576px) {
                width: 42px;
            }
        }

        .age {
            font-size: 10px;

            @media (min-width: 576px) {
                font-size: 16px;
            }
        }

        .icon-star-full {
            color: $c-kids-safe-star;
            font-size: 12px;

            @media (min-width: 576px) {
                font-size: 19px;
            }
        }

        .info {
            font-style: italic;
            color: $c-kids-safe-info;
            font-size: 9px;

            @media (min-width: 576px) {
                font-size: 14px;
            }
        }

        .sub-title {
            color: $c-gray-2;
            font-size: 8px;

            @media (min-width: 576px) {
                font-size: 12px;
            }
        }

    }

    .awards {
        font-size: 10px;

        img {
            width: 48px;

            @media (min-width: 576px) {
                width: 78px;
            }
        }

        .type,
        .title {
            @media (min-width: 576px) {
                font-size: 14px;
            }
        }

        .title {
            color: $c-awards-title;
        }

        .nomination {
            @media (min-width: 576px) {
                font-size: 12px;
            }

            span {
                color: $c-gray-4;
                margin-left: 7px;
            }
        }
    }

    .add-review {

        input,
        button {
            line-height: 22px;

            @media (min-width: 576px) {
                line-height: 31px;
            }

            &:focus,
            &:active {
                outline: none;
            }
        }

        input {
            background: 0;
            border: 0;
            border-bottom: 1px solid $c-white;
            color: $c-white;
            font-size: 10px;

            @media (min-width: 576px) {
                font-size: 14px;
            }

            @media (min-width: 1200px) {
                font-size: 16px;
            }
        }

        button {
            background: $c-accent-2;
            border: 0;
            color: $c-white;
            font-size: 10px;
            padding: 0 17px;
            cursor: pointer;

            @media (min-width: 576px) {
                font-size: 14px;
                padding: 0 23px;
            }
        }
    }

    .reviews {
        .more-comments {
            text-decoration: underline;
            color: $c-accent-2;
            font-size: 10px;

            @media (min-width: 576px) {
                font-size: 14px;
            }
        }
    }

    .review {

        .author,
        .comment {
            font-size: 10px;

            @media (min-width: 576px) {
                font-size: 14px;
            }

            @media (min-width: 1200px) {
                font-size: 16px;
            }
        }

        .author {
            color: $c-comment-author;
        }

        .date,
        a {
            font-size: 10px;

            @media (min-width: 576px) {
                font-size: 12px;
            }
        }

        .date {
            color: $c-comment-author;
        }

        a {
            color: $c-accent-2;
            text-decoration: underline;
            font-weight: 700;
        }
    }



    .series-guide {
        .c-card {
            height: 175px;
            max-width: 312px;
            background-image: url($IMG_PATH + '/details/card-bg.png');

            @media (min-width: 576px) {
                min-width: 312px;
            }
        }

        .guide-heading,
        .guide-info {
            font-size: 9px;

            @media (min-width: 576px) {
                font-size: 12px;
            }
        }

        .guide-heading {
            color: $c-gray-2;
            margin-bottom: 0;
        }

        .divider {
            height: 1px;
            background: $c-divider;
            margin: 16px 0;

            @media (min-width: 1200px) {
                margin: 25px 0;
            }
        }

        .card {
            border-radius: 15px;
            height: 148px;
            padding: 10px;
            background: url($IMG_PATH + '/details/card-bg-2.png') no-repeat;
            background-size: cover;
            box-shadow: 0 2px 3px rgba($c-black, .5);
            font-size: 12px;
            position: relative;
            overflow: hidden;
            border: 0;

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, rgba($c-black, .6), transparent);
                position: absolute;
                top: 0;
                left: 0;
            }

            .score,
            .episode {
                font-size: 12px;
            }

            .title {
                font-size: 18px;
            }
        }

        .episode-description {
            font-size: 10px;

            @media (min-width: 576px) {
                font-size: 12px;
            }

            @media (min-width: 1200px) {
                font-size: 14px;
            }
        }

        .complete-series-guide {
            font-size: 11px;
            color: $c-accent-2;
            line-height: 1;

            @media (min-width: 576px) {
                font-size: 14px;
            }
        }
    }
}
